# Dependencies
node_modules/

# Build output
dist/

# Angular cache
.angular/

# Logs
*.log

# Environment files
src/environments/environment*.ts

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/